* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10%;
  width: 100%;
  padding: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.company-name {
  width: 30%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

.top-right-menu {
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: flex-end;

}

.menu-button {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0 25px;
  font-size: 1.2rem;
}

body {
  height: 80%;
  width: 100vw;
  background-color: white;
  
}

.black-section {
  width: 100vw;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner {
  color: yellow;
  text-transform: uppercase;
  font-size: 5rem;
}

/* .green-boxes {
  width: 100vw;
  height: 100px;
} */

.green-box {
  height: 350px;
  width: 350px;
  margin: 25px 62px;
  background-color: mediumaquamarine;
  border-radius: 20%;
  display: inline-block;
}

/* .orange-boxes {
  width: 100vw;
  height: 300px; 
} */

.orange-box {
  width: 500px;
  height: 250px;
  background-color: orange;
  display: inline-block;
  margin: 25px 105px;
}

.my-thanks {
  height: 100px;
  width: 400px;
  display: inline-block;
  margin: 25px 170px;
}

.textbox-pic {
  width: 100vw;
  height: 300px;
  display: inline-block;
  /* padding: 50px; */
}

.pic-1 {
  width: 400px;
  height: 200px;
  margin: 10px 110px;
}

footer {
  position: absolute;
  height: 100px;
  width: 100vw;
  position: relative;
  bottom: 0;
  background-color: darkmagenta;
}